---
import "@organisms/AboutHome/about-home.css";
import ContactSocialIcons from "../../ContactSocialIcons.astro";
---

<div class="card__about" data-aos="fade-right" >
  <div class="card-photo">
    <img class="about__img--src" src="./img/miso.jpeg" alt="" />
  </div>
  <div class="card-title">
    <p>IBTISSAM ELGUERDI</p>
    <span>Software Engineer</span>
  </div>
  <div class="card-socials">
  <ContactSocialIcons/>
</div>
</div>
