---
import "../styles/about-section.css";
import YoutubeLastvid from "../components/YoutubeLastvid.astro";
import BaseHead from "../components/BaseHead.astro";
import ToogleDarkBtn from "../ToggleDarkBtn.astro";
import BtnToTop from "../components/BtnToTop.astro";
import Footer from "../components/Footer.astro";
import DarkBg from "../components/DarkBg.astro";
import NavLinks from "../components/NavLinks.astro";
import CardTerminal from "../layouts/CardTerminal.astro";
import ContactSocialIcons from "../components/ContactSocialIcons.astro";
import VsCodeTheme from "../components/VsCodeTheme.astro"
import Divider4 from "../components/atoms/Dividers/Divider4.astro";
import { about } from "../data/MenuData";
import DividerTop from "../components/atoms/Dividers/DividerTop.astro";
const { title, description } = Astro.props;


---


<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <NavLinks origin={about} />
    <ToogleDarkBtn />
    <BtnToTop />
    <main>
      <section class="about__intro" id="about">
        <div class=" about__imageIcons" ata-aos="fade-up">
          <img
            class="about__profile"
            src="../img/miso.jpeg"
            alt="sofidev picture"
          />
          <div class="icons__container">
            <ContactSocialIcons />
          </div>
        </div>
        <CardTerminal >
          <h2 class="about__titulo--post post__titulo">
           Ibtissam <span class="span__dark" id="span-titulo2"> Elguerdi</span> 
          </h2>
          <p class="terminal__content terminal__content--p">
            ≥ If I had to pick one quality to describe myself, it would definitely be my
            <span class="terminal__content terminal__content--span"
              >love for what I do. Programming?</span
            > It's not just a job—it's like a lifelong puzzle that I genuinely enjoy piecing together.
          </p>
          <p class="terminal__content terminal__content--color">
            As a Software Engineer, I like to think of myself as a Flutter artisan, crafting beautiful and interactive mobile applications that aren't just functional but fun to use.
          </p>
          <p class="terminal__content terminal__content--p">
            I studied at EMSI, where I had the chance  <span class="terminal__content terminal__content--span"
            >  to dive deep into tech and get hands-on experience. Over the past 4 years, I've been creating and publishing applications, turning ideas into reality.<span/> (I like to think of myself as a tech wizard—minus the hat and wand... although they would be cool accessories!)
          </p>
          <p class="terminal__content terminal__content--color">
            I'm particularly proud of my latest project, SpendSmart, a banking application focused on helping users manage their finances with ease and efficiency. This project was an exciting challenge and a rewarding experience—bringing practical, user-friendly tools to life is what I love most about my work.
          </p>
      </section>
      <Divider4/>
      
      <section class="about__text"></section>
    </main>
    
    <Footer />
    <style>
      .about__page {
        width: 100%;
        padding: 1rem .4rem 0 .4rem;
        height: auto;
      }
      .post__titulo {
        color: white;
      }
      .text_content {
        color: white;
      }
      @media screen and (min-width: 768px) {
        .about__page {
        width: 100%;
        padding: 1rem 2rem 0 2rem;
        height: auto;
      }
      }
    </style>

  </body>
</html>
